<li class="list-group-item">
  <div class="row">
    <div class="card <%= user.id == message.user_id ? 'message-sent ml-auto' : 'message-received' %>">
      <h5 class="mb-1"><%= message.body %></h5>
      <small>
        <%= distance_of_time_in_words(DateTime.now,message.created_at) %> ago
      </small>
    </div>
  </div>
</li>