<%unless devise_controller? %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Let's Chat</h1>
      <p class="lead "><span class="element"></span></p>
    </div>
  </div>
<% end %>