<%unless devise_controller? %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Let's Chat</h1>
      <p class="lead">Let's chat is a chat application developed by Keshav Biswa in Avalon Labs using Ruby on Rails 5 and Action Cable.</p>
    </div>
  </div>
<% end %>